APP_ENV=local
APP_DEBUG=true
APP_KEY=NVMWKnl7cbl4EswkIpLTew43BDYvCUmv

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret  

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=mailgun
MAILGUN_DOMAIN=sandbox379eb386a6ab4be0a5ec9e9ccd8a9d9f.mailgun.org
MAILGUN_SECRET=key-a616670bc7296252144bd54baa01dfb6

CONTACT_EMAIL=eventure420@mail.com

STRIPE_SK=sk_test_VC47x6o5VGMqYKNpdMW75wiL
STRIPE_PK=pk_test_zXxw7aEu1sy6fBIIh4EZurhZ

SEARCH_ID:  DL6Q2SNWBH
SEARCH_KEY: 6ad40c1dee4b3dbe37af51a0c39b4d5a