@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("http://fonts.googleapis.com/css?family=Quicksand:300,400,700");
@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat|Cinzel|Kaushan+Script);
/* DARK SUNSET COLOURS */
/*$text:   #ff5434;
$accent: #cc1e2c;
$shade1: #731630;
$shade2: #40152a;
$shade3: #261822;*/
/* GREY SHADES - RED ACCENT */
/*$text:   #f2f2f2;
$accent: #f60a20;
$shade1: #8c8979;
$shade2: #404040;
$shade3: #262526;*/
/* WINTER */
/*
$text:   #bfbd9f;
$accent: #f1f2d8;
$shade1: #778c7a;
$shade2: #425955;
$shade3: #1b1d26;*/
/* WINTER 2 */
html {
  font-family: "Roboto", sans-serif;
  color: #c5c7b6;
  background-image: url("/images/use_your_illusion.png");
  /*background-size: cover;*/ }

footer {
  background-color: #222028 !important;
  margin-top: 0 !important;
  font-family: "Walter Turncoat", cursive; }

header, nav {
  background-color: transparent;
  box-shadow: none;
  color: #2f3837; }

nav {
  line-height: 1.5;
  padding: 0.8em; }

header, nav, footer {
  color: #c5c7b6 !important; }
  header a, nav a, footer a {
    color: #fff8d3; }
    header a:visited, nav a:visited, footer a:visited {
      color: #fff8d3; }
  header a:hover, nav a:hover, footer a:hover {
    color: #2f3837; }

a {
  color: #4c493e; }
  a:visited {
    color: #4c493e; }
  a:hover {
    color: #2f3837; }

a:hover {
  color: #c5c7b6; }

header {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url("/images/forest.jpg ");
  /*background-image: url('/images/ZenBG3.png');*/ }

h1, h2 {
  color: #2f3837;
  font-family: "Cinzel", serif; }

h4, h5 {
  font-family: "Walter Turncoat", cursive; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

main {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-bottom: 0;
  /*background-color: $shade2;*/
  padding: 0.75em; }

.modal {
  color: #2f3837;
  background-color: #fff8d3; }
  .modal input, .modal textarea {
    color: #2f3837;
    border-color: #fff8d3; }

.modal-footer {
  background-color: #4c493e !important; }
  .modal-footer .btn-flat {
    color: #2f3837;
    color: #c5c7b6; }

.f100 {
  font-weight: 100; }

.f300 {
  font-weight: 300; }

.f400 {
  font-weight: 400; }

.f500 {
  font-weight: 500; }

.f700 {
  font-weight: 700; }

.f900 {
  font-weight: 900; }

.f2 {
  font-family: "Quicksand", sans-serif; }

.f3 {
  font-family: "Walter Turncoat", cursive; }

.f4 {
  font-family: "Cinzel", serif; }

.f5 {
  font-family: "Kaushan Script", cursive; }

#banner {
  padding: 5em;
  margin-top: 15vh;
  color: #2f3837; }
  #banner .inner {
    /*background: none;*/
    display: block;
    padding: 0 1.5em;
    padding: 3em; }

#myName {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  color: #2f3837; }

/*   NAME UNDERLINE   */
h1 span {
  position: relative;
  padding-bottom: 5px; }

h1 span:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 101%;
  height: 1px;
  border-bottom: 1px solid #2f3837;
  content: ""; }

.navbar
.navbar
.navbar a:hover,
.navbar .current a {
  color: #ffffff; }

.navbar a:hover:before,
.navbar .current a:before {
  opacity: 1;
  left: 0;
  right: 0; }

.accent {
  color: #2f3837 !important; }

/*# sourceMappingURL=app.css.map */
