body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#login-container{
  margin-top: 4em;
}      

#selection_box_search_page{
    margin-left: .75rem !important;
}

header, footer, nav
{
  background-color: #212121 !important;
}

.account-pic
{
  max-height: 1.2em;
  max-width: 1.2em;
}

.card
{
  background-color: #FFC107 !important;
  color: #303F9F !important;
}

body a
{
  color: #303F9F;
}