.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0vh;
    left: 0vh;
    width: 100%;
    overflow: hidden;
    background: #000;
  height: 100vh;
  box-shadow: 0px 2px 2px 2px;
}
.video-container .poster img {
    bottom: 0;
    position: absolute;
  z-index: -1;

}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0vh;
  opacity: 0.75;
}

#custom-message{
  position: absolute;  
  top: 24vh;
  width: 80%;
  text-align: center;
    z-index: 101;
  margin-left: 10%;
  margin-right: 10%;
}
#custom-message image{
    width: 30%;

}

#jump-in{
  position: absolute;  
  bottom: 5vh;
    z-index: 101;
  width: 100%;
  color: white;
}

#jump-in a, #custom-message a{
  color: white;
}


#with-love{
  position: absolute;  
    z-index: 101;
  bottom: 5vh;
  right: 10px;
  color: white;
}